<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="mysql" />
	</properties>
	<settings>
		<!-- 全局映射器启用缓存 *主要将此属性设置完成即可 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 对于未知的SQL查询，允许返回不同的结果集以达到通用的效果 -->
		<setting name="multipleResultSetsEnabled" value="true" />
		<!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指 定)，不会加载关联表的所有字段，以提高性能 -->
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<typeAlias alias="User" type="com.zjr.entity.User"/>
		<typeAlias alias="UserDto" type="com.zjr.dto.UserDto"/>
		<typeAlias alias="Project" type="com.zjr.entity.Project"/>
		<typeAlias alias="ProjectDto" type="com.zjr.dto.ProjectDto"/>
		<typeAlias alias="Department" type="com.zjr.entity.Department"/>
		<typeAlias alias="DepartmentDto" type="com.zjr.dto.DepartmentDto"/>
		<typeAlias alias="Employee" type="com.zjr.entity.Employee"/>
		<typeAlias alias="EmployeeDto" type="com.zjr.dto.EmployeeDto"/>
		<typeAlias alias="MenuInfo" type="com.zjr.entity.MenuInfo"/>
	</typeAliases>

</configuration>